* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
    line-height: 62px;
}

.header-info {
    height: 62px;
    background-color: #3fbcd7;
    padding: 0px 50px;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
}
.w50 i{
    font-size: 25px;
    margin: 0px 7px;
}
.align-center{
    align-items: center;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}
.just-center{
    justify-content: center;
}
.just-end{
    justify-content: end;
}

.header-menu{
    padding: 30px;
    
} 

.w30{
    width: 30%;
}
.w30 img{
    width: 332px;
    margin-left: 30px;
}
.w70{
    width: 70%;
    position: relative;
}

.w70 li a{
    margin-right: 30px;
    font-size: 20px;
    color: #000;
    line-height: 40px;
    padding: 20px 0px;
}
.w70 ul ul li a{
    font-size: 16px;
}
.box{
    width: 100%;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    max-width: fit-content;
    top: 55px;
    padding: 10px;
    display: none;
}
.sub-menu{
    width: 100%;
    top: 55px;
    background-color: #fff;
    position: absolute;
    max-width: 460px;
    padding: 10px;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    display: none;
}
.sub-menu li a{
    margin: 0px;
}
.sub-menu .w50{
    line-height: normal;
}

.w70 ul li:hover .box,
.w70 ul li:hover .sub-menu{
    display: block;
}
